name: Frontend CD

on:
    push:
        branches:
            - main

jobs:
    deploy-frontend:
        # ⚠️ IMPORTANTE:
        # Este job se ejecuta en tu propio servidor (runner local)
        runs-on: self-hosted

        steps:
            # 1️⃣ Nos movemos al directorio del proyecto
            - name: Go to project directory
              run: |
                  cd /opt/wellness-ops

            # 2️⃣ Actualizamos la imagen del frontend desde GHCR
            - name: Pull latest frontend image
              run: |
                  docker compose pull frontend

            # 3️⃣ Recreamos SOLO el contenedor frontend
            # --no-deps = no toca backend ni nginx
            - name: Restart frontend container
              run: |
                  docker compose up -d --no-deps frontend
