name: Nginx CI

on:
  push:
    branches:
      - main
      - feature-https-web
  pull_request:

jobs:
  nginx-ci:
    runs-on: self-hosted

    steps:
      # 1️⃣ Clonamos el repositorio
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Validación de la configuración de Nginx
      - name: Validate nginx configuration
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/nginx/nginx-ci.conf:/etc/nginx/conf.d/default.conf:ro \
            nginx:stable-alpine \
            nginx -t

      # 3️⃣ Validar Certificados SSL (opcional si aplica)
      - name: Validate SSL Certificates
        run: |
          test -f nginx/certs/server.crt
          test -f nginx/certs/server.key

      # 4️⃣ Construcción de la Imagen Docker para Nginx
      - name: Build Nginx Docker image
        run: |
          docker build \
            -f nginx/Dockerfile.prod \
            -t wellness-nginx:ci \
            nginx
