name: Test Runner

on:
    workflow_dispatch:

jobs:
    test:
        runs-on: self-hosted

        steps:
            - name: Show runner infos
              run: |
                  echo "Runner is working"
                  hostname
                  whoami
                  pwd
